/* all font here  */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto&display=swap');
/* Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
/* Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');




*{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    text-decoration: none;
}

/* start nav style */

header{
    padding: 5.438rem 7.5rem;
    height: calc(100vh - 10.875rem);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    gap: 2.225rem;
}

nav > h3 >a {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 700;
}

nav > ul > li > a{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 600;
}

nav > ul > li > a:hover{
    border-bottom: 0.188rem solid rgb(0, 0, 0);
}

/* end nav style */

/* start banner style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 10.875rem);

    
}


.banner-title{
    width: 36.375rem;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 1rem;
}

.banner-discription{
    width: 31.563rem;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-btn {
    border-radius: 41px;
    background: #E02C6D;
    padding: 0.625rem 1.5rem;
    border: none;
}

.banner-btn:hover{
    background-color: rgb(0, 0, 0);
    transition: 600ms;
}

.banner-btn >a{
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
}


.banner-hero-img{
    position: absolute;
    right: 8.75rem;
    top: 18.75rem;
}
/* end banner style */


/* start brands-img style */

.brand-container{
    padding: 0rem 14.188rem 5.438rem 14.188rem;
}

.brand-title{
    text-align: center;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.brand-img{
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
}
/* end brand-img style  */

.card-section{
    padding:0rem 12.25rem ;
}

.card-title{
    text-align: center;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    margin: 4rem 0rem;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin-bottom:3.75rem;

}

.card-box{
    padding: 1.063rem 0.938rem;
    height: 28.125rem;
    border-radius: 0.313rem;
    background: #FFF;
    box-shadow: 0rem 0rem 2.5rem 0rem rgba(0, 0, 0, 0.15);
   
}

.poduct-name{
    color: #18191F;
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0.8rem 0rem;
}

.poduct-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0.5rem 0rem;
}

.star-container{
    display: flex;
    gap: 0.2rem;
}
.star-rating{
    color: #5E6366;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem; 
    letter-spacing: 0.006rem;
    margin-left: 0.3rem;
}

.poduct-discription{
    width: 12.25rem;
    color: #787885;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.43rem;
    letter-spacing: 0.016rem;
}

.see-more{
    display: flex;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    justify-content: flex-end;
    
}
